@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;
    z-index: 10;

}
:root{
    --dark-blue: #2C2839;
    --orange: #EA5D36;
    --light-blue: #5CDEFF;
    --branco: white;
}
::selection{
    background-color: var(--orange);
    color: var(--light-blue);
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1100px;
    margin: 0 auto; 
}

.row{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.home{
    background: url(./imagens/bg.png);
    background-size: cover;
    background-position: center;
    padding: 45px 0;
}

.divImg img{
    max-width: 470px;
    margin-top: 20px;
}

.text{
    padding-top: 80px;
}

.text h1{
    font-size: 100px;
    text-transform: uppercase;
    font-family: "VT323";
    letter-spacing: 3px;
    color: var(--branco);
}

.text p{
    font-size: 39px;
    font-family: "VT323";
    color: var(--branco);
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 2px;
}

.text p span{
    font-size: 45px;
    font-family: "VT323";
    color: var(--dark-blue);
    background-color: var(--branco);
    padding: 0 5px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 200;
    line-height: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

form input{
    padding: 17px;
    width: 360px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    font-family: "Poppins";
}

form input::placeholder{
    color: var(--dark-blue);
    font-family: "Poppins";
    font-size: 15px;
    transition: all .7s;
}

form input:focus::placeholder{
    color: rgba(171, 176, 178, 0.73);
    transition: all .4s;
}

form input:last-child{
    padding: 12px;
    width: 155px;

    font-size: 20px;
    font-family: "VT323";
    text-transform: uppercase;

    background-color: #5CDEFF;
    cursor: pointer;

    transition: all .1s;
    margin-top: 8px;
}

form input:last-child:hover{
    opacity: 0.86;
}

/* Seção 2 - SOBRE */

.row2{
    display: grid;
    grid-template-columns: 50% 60%;
}

.divImgSobre{
    z-index: 1;
}

.divImgSobre img{
    width: 165%;
    transform: translate(-30%, 4px);
    z-index: 1;
}

.textSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-36px);
}

.textSobre h1{
    font-size: 64px;
    font-family: "vt323";
    text-transform: uppercase;
    color: var(--dark-blue);
    letter-spacing: 3px;

    margin-bottom: -5px;
}

.textSobre p{
    font-size: 30px;
    font-family: "vt323";
    color: rgb(71, 71, 71);
}

.textSobre a{
    text-align: center;
    text-decoration: none;
    
    padding: 12px;
    width: 255px;

    font-size: 20px;
    font-family: "VT323";
    text-transform: uppercase;

    color: var(--light-blue);
    background-color: var(--dark-blue);
    cursor: pointer;

    transition: all .2s;
    margin-top: 8px;

    border-radius: 5px;
}

.textSobre a:hover{
    opacity: 0.9;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--dark-blue);
    color: #a5a5a5;
}